.message {
  font-size: 1.1em;
  color: #e0514b;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  width: 30em;
  padding: 2em 6em;
  background: ##fffefa;
  border: 0.1em solid #e0514b;
  border-radius: 5px;
  box-shadow: 0.25em 0.25em #f5cac9;
}

.danger {
  height: 2.5em;
  margin: auto 1.5em;
}
