.alert {
  margin: 2em auto;
  /* width: 40em; */
  height: 10em;
  border-radius: 5px;
  box-shadow: 0.25em 0.25em #f5cac9;
}

.danger {
  height: 2.5em;
  margin: auto 1.5em;
}

.toast {
  position: relative;
  top: 5%;
  left: 75%;
}
