.card {
  margin: 2em auto;
  text-align: center;
  /* width: 50em; */
  min-height: 30em;
  padding: 0em 0em 1em 0em;
  border-radius: 20px;
  box-shadow: 0.5em 0.5em #f0f1f2;
}

.card-header {
  text-align: left;
  font-size: 1.5em;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body-box {
  padding: 1em;
  font-size: 1.5em;
  text-align: justify;
}

.form-check {
  padding-left: 40%;
  justify-content: flex-start;
}

.form-check-input {
  position: relative;
}

.form-check-label {
  padding-left: 1em;
}

.card-title {
  font-size: 3em;
}

.btn-group {
  display: inline-block;
}

.correct {
  color: #6fbe7b;
  font-weight: bold;
}

.incorrect {
  color: #de3a28;
}
