/* TODO: responsive design, more styling */
#App {
  font-family: 'PT Sans', sans-serif;
}

#App > h1 {
  text-align: center;
  font-size: 80px;
  color: #2638bf;
}

#App > .nav {
  font-size: 15px;
}

.logo {
  height: 40px;
  margin: 0px 80px;
}

.main {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  height: 500px;
  font-size: 20px;
  padding: 20px 40px;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
}
